body {
    font-family: 'Roboto Mono', monospace;
    background-color: #263046;
    color: #4B829F;
}

h1 {
    color: #86D6D9;
    text-align: center;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    from {
        background-color: white;
    }
    to {
        background-color: #4B829F;
    }
}


/* Standard syntax */

@keyframes example {
    from {
        background-color: white;
    }
    to {
        background-color: #4B829F;
    }
}

#block {
    font-size: 350px;
    text-align: center;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

#retour {
    position: absolute;
    top: 90%;
    left: 49%;
    color: #86D6D9;
    background-color: #4B829F;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 10px;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes hover {
    from {
        background-color: #4B829F;
    }
    to {
        background-color: black;
    }
}


/* Standard syntax */

@keyframes hover {
    from {
        background-color: #4B829F;
    }
    to {
        background-color: black;
    }
}

#retour:hover {
    -webkit-animation-name: hover;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: hover;
    animation-duration: 2s;
}